*{
    margin:0;
    padding: 0;
}
header{
    width: 100%;
    height: auto;
    background-color: #E8E8E8;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header ul{
    display: flex;
    flex-direction: row;
    margin: 10px;
    list-style: none;
}
header ul li{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.cajita{
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 5px 0px 5px 30px;
    border: 1px solid black;
    background-color: white;
}
ul li{
    width: 50px;
    height: 20px;
    background-color: #9B7B99;
}
.mediana{
    width: 400px;
    height: 40px;
    background-color: #9B7B99;
    margin: auto;
}
.grande{
    width: 600px;
    height: 40px;
    background-color: #9B7B99;
    margin: auto;
    margin-top: 15px;
}
.cajaa{
    width: 100%;
    height: 400px;
    background-color: #DFDFDF;
    box-sizing: border-box;
    padding-top: 90px;
}
.boton{
    display: block;
    width: 80px;
    margin: auto;
    margin-top: 40px;
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
    background-color: #4A4A4A;
}
.contenedor{
    width: 100%px;
    height: auto;
    margin: auto;
    margin-top: 75px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor div{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    margin: 0px 40px 0px 80px;
}
